<!DOCTYPE html>
<html>
<head>
  <title>NaOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page-container">
		<nav>
			<ul>
				<li class="logo">
					<%= link_to image_tag("logo.svg", alt: "Next Academy Overflow", width: "35px", height: "35px"), root_path %>
				</li>
				<li>
					<%= link_to 'nextacademy', root_path, class: 'thin' %><%= link_to 'overflow', root_path, class: 'fat' %>
				</li>
				<% if logged_in? %>
				<li class="right">
					<%= link_to 'Log Out', logout_path, method: 'delete'%>
				</li>
				<% else %>
				<li class="right">
					<%= link_to 'Log In', login_path %>
				</li>
				<li class="right">
					<%= link_to 'Sign Up', signup_path %>
				</li>
				<% end %>
			</ul>
		</nav>
		<% flash.each do |message| %>
			<div><%= message %></div>
		<% end %>
		<%= yield %>
	</div>
	



</body>
</html>
